.symbol-box {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 150px;
  line-height: 200px;
  width: 200px;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
}

.tictacbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 612px;
  border-width: 2px;
  border-style: solid;
  margin: auto;
}

.symbol {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.player {
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.one {
  float: left;
  margin-right: 10%;
  flex: 1;
}

.two {
  float: right;
  margin-left: 10%;
  flex: 1;
}

h1 {
  text-align: center;
}

.top {
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

form {
  display: inline-block;
  flex: 1;
}
